.footer {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px 0;
  text-align: center;
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  &__img {
    max-width: 100px;
  }

  &__text {
    margin: auto;
    @include mixins.fontSize(14px);
  }
}
