$purple: #a050be;
$light-grey: #eaeaeb;
$dark-grey: #464646;
$yellow: #fabe50;
$img-width: 45%;

/// placeholder selectors
%not-decoration {
  text-decoration: none;
}

%underline-decoration {
  text-decoration: underline;
}
