@use "sass:math";

$purple: #a050be;
$light-grey: #eaeaeb;
$dark-grey: #464646;
$yellow: #fabe50;
$img-width: 45%;
$directions: top, bottom, left, right;
$layout-margin-size: 10px;

@each $direction in $directions {
  %no-margin-#{$direction} {
    margin-#{$direction}: 0;
  }
  %default-margin-#{$direction} {
    margin-#{$direction}: $layout-margin-size;
  }
  %double-margin-#{$direction} {
    margin-#{$direction}: $layout-margin-size * 2;
  }
  %half-margin-#{$direction} {
    margin-#{$direction}: math.div($layout-margin-size, 2);
  }
}

/// placeholder selectors
%not-decoration {
  text-decoration: none;
}

%underline-decoration {
  text-decoration: underline;
}
